<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app>
 <!--   <servlet>
    <servlet-name>Check Balance</servlet-name>
    <servlet-class>com.cravingsbakery.web.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check Balance</servlet-name>
    <url-pattern>/checkbalance</url-pattern>
  </servlet-mapping>  -->
</web-app>
